*{
    font-family: 'Merienda', cursive;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: blue;
    overflow: hidden !important;
}

html{
    padding-bottom: 1000px;
}