.header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header .photo{}

.header .title{
    font-size: 1rem;
    position: absolute;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.header .description{
    font-size: 1rem;
    position: absolute;
    margin-top: 2rem;
    margin-left: 1rem;
}