section .slider-upcoming {
    display: flex;
    flex-direction: row;
 }

.title-slider-upcoming {
    color: white;
    font-size: 1.25rem;
    margin: 0.25rem 1rem;
    font-weight: 200;
}

.slider-upcoming-content {
    position: relative;
    z-index: 1;
    max-width: 100vw;
    height: 35vh;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.slider-upcoming-content::-webkit-scrollbar{
    display: none;
}

.slide-box-upcoming img {
    width: 45vw;
    height: 90%;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.slider-upcoming{
    position: relative;
}

.content-button-slider{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    cursor: pointer;
}

.slide-button:hover{
    background: #444;
}

.slide-button#prev-slider{
    margin-left: 0.750rem;
    background: #b5b5b5;
    color: white;
    border-radius: 50%;
    font-size: 2.2rem;
}

.slide-button#next-slider{
    margin-right: 0.750rem;
    background: #b5b5b5;
    color: white;
    border-radius: 50%;
    font-size: 2.2rem;
}

@media screen and (min-width: 599px) and (max-width: 879px){
    section .slider-upcoming {
        display: flex;
        flex-direction: row;
     }
     .slider-upcoming-content {
        max-width: 100vw;
        height: 40vh;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    
    .slider-upcoming-content::-webkit-scrollbar{
        display: none;
    }
    
    .slide-box-upcoming img {
        width: 35vw;
        height: 90%;
        border-radius: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media screen and (min-width: 880px) and (max-width: 1279px) {
    section .slider-upcoming {
        display: flex;
        flex-direction: row;
     }
     .slider-upcoming-content {
        max-width: 100vw;
        height: 70vh;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }
    
    .slider-upcoming-content::-webkit-scrollbar{
        display: none;
    }
    
    .slide-box-upcoming img {
        width: 30vw;
        height: 90%;
        border-radius: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media screen and (min-width: 1280px) {
    section .slider-upcoming {
        display: flex;
        flex-direction: row;
     }
     .slider-upcoming-content {
        max-width: 100vw;
        height: 70vh;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }
    
    .slider-upcoming-content::-webkit-scrollbar{
        display: none;
    }
    
    .slide-box-upcoming img {
        width: 20vw;
        height: 90%;
        border-radius: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}