section .slider-popular-movie {
    display: flex;
    flex-direction: row;
 }

.title-slider-popular {
    color: white;
    font-size: 1.25rem;
    margin: 0.25rem 1rem;
    font-weight: 200;
}

.slider-popular-movie-content {
    max-width: 100vw;
    height: 20vh;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.slider-popular-movie-content::-webkit-scrollbar{
    display: none;
}

.slide-box-popular-movie img {
    width: 50vw;
    height: 100%;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}