section.slider {
    margin: 0 auto;
    width: 100vw;
    height: 400px;
    padding: 0 !important;
    overflow: hidden; /* Deixa a barra de rolagem horizontal escondida */
}

.slider-content {
    width: 400%;
    height: 400px;
    display: flex;
}

.slider-content input {
    display: none;
}

.slide-box {
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide-box img {
    width: 100vw;
    height: 200px;
}

.nav-manual,
.nav-auto {
    position: absolute;
    width: 100vw;
    margin-top: 45%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
    border: 1px solid #205ca1;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn.active {
    background-color: black;
}

input[type="radio"]:not(:checked)+label {
    background-color: white;
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3 {
    background-color: black;
}

#radio1:not(:checked)~.nav-auto .auto-btn1,
#radio2:not(:checked)~.nav-auto .auto-btn2,
#radio3:not(:checked)~.nav-auto .auto-btn3 {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0%;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}